.nr2 {
  transform: rotate(6.1deg);
  -ms-transform: rotate(6.1deg);
  /* IE 9 */
  -webkit-transform: rotate(6.1deg);
  /* Safari and Chrome */
}

.nr2 h3 {
  transform: rotate(-6.1deg);
  -ms-transform: rotate(-6.1deg);
  /* IE 9 */
  -webkit-transform: rotate(-6.1deg);
  /* Safari and Chrome */
}

.nr3 {
  transform: rotate(12.2deg);
  -ms-transform: rotate(12.2deg);
  /* IE 9 */
  -webkit-transform: rotate(12.2deg);
  /* Safari and Chrome */
}

.nr3 h3 {
  transform: rotate(-12.2deg);
  -ms-transform: rotate(-12.2deg);
  /* IE 9 */
  -webkit-transform: rotate(-12.2deg);
  /* Safari and Chrome */
}

.nr4 {
  transform: rotate(18.3deg);
  -ms-transform: rotate(18.3deg);
  /* IE 9 */
  -webkit-transform: rotate(18.3deg);
  /* Safari and Chrome */
}

.nr4 h3 {
  transform: rotate(-18.3deg);
  -ms-transform: rotate(-18.3deg);
  /* IE 9 */
  -webkit-transform: rotate(-18.3deg);
  /* Safari and Chrome */
}

.nr5 {
  transform: rotate(24.4deg);
  -ms-transform: rotate(24.4deg);
  /* IE 9 */
  -webkit-transform: rotate(24.4deg);
  /* Safari and Chrome */
}

.nr5 h3 {
  transform: rotate(-24.4deg);
  -ms-transform: rotate(-24.4deg);
  /* IE 9 */
  -webkit-transform: rotate(-24.4deg);
  /* Safari and Chrome */
}

.nr6 {
  transform: rotate(30.5deg);
  -ms-transform: rotate(30.5deg);
  /* IE 9 */
  -webkit-transform: rotate(30.5deg);
  /* Safari and Chrome */
}

.nr6 h3 {
  transform: rotate(-30.5deg);
  -ms-transform: rotate(-30.5deg);
  /* IE 9 */
  -webkit-transform: rotate(-30.5deg);
  /* Safari and Chrome */
}

.nr7 {
  transform: rotate(36.6deg);
  -ms-transform: rotate(36.6deg);
  /* IE 9 */
  -webkit-transform: rotate(36.6deg);
  /* Safari and Chrome */
}

.nr7 h3 {
  transform: rotate(-36.6deg);
  -ms-transform: rotate(-36.6deg);
  /* IE 9 */
  -webkit-transform: rotate(-36.6deg);
  /* Safari and Chrome */
}

.nr8 {
  transform: rotate(42.7deg);
  -ms-transform: rotate(42.7deg);
  /* IE 9 */
  -webkit-transform: rotate(42.7deg);
  /* Safari and Chrome */
}

.nr8 h3 {
  transform: rotate(-42.7deg);
  -ms-transform: rotate(-42.7deg);
  /* IE 9 */
  -webkit-transform: rotate(-42.7deg);
  /* Safari and Chrome */
}

.nr9 {
  transform: rotate(48.8deg);
  -ms-transform: rotate(48.8deg);
  /* IE 9 */
  -webkit-transform: rotate(48.8deg);
  /* Safari and Chrome */
}

.nr9 h3 {
  transform: rotate(-48.8deg);
  -ms-transform: rotate(-48.8deg);
  /* IE 9 */
  -webkit-transform: rotate(-48.8deg);
  /* Safari and Chrome */
}

.nr10 {
  transform: rotate(54.9deg);
  -ms-transform: rotate(54.9deg);
  /* IE 9 */
  -webkit-transform: rotate(54.9deg);
  /* Safari and Chrome */
}

.nr10 h3 {
  transform: rotate(-54.9deg);
  -ms-transform: rotate(-54.9deg);
  /* IE 9 */
  -webkit-transform: rotate(-54.9deg);
  /* Safari and Chrome */
}

.nr11 {
  transform: rotate(61deg);
  -ms-transform: rotate(61deg);
  /* IE 9 */
  -webkit-transform: rotate(61deg);
  /* Safari and Chrome */
}

.nr11 h3 {
  transform: rotate(-61deg);
  -ms-transform: rotate(-61deg);
  /* IE 9 */
  -webkit-transform: rotate(-61deg);
  /* Safari and Chrome */
}

.nr12 {
  transform: rotate(67.1deg);
  -ms-transform: rotate(67.1deg);
  /* IE 9 */
  -webkit-transform: rotate(67.1deg);
  /* Safari and Chrome */
}

.nr12 h3 {
  transform: rotate(-67.1deg);
  -ms-transform: rotate(-67.1deg);
  /* IE 9 */
  -webkit-transform: rotate(-67.1deg);
  /* Safari and Chrome */
}

.nr13 {
  transform: rotate(73.2deg);
  -ms-transform: rotate(73.2deg);
  /* IE 9 */
  -webkit-transform: rotate(73.2deg);
  /* Safari and Chrome */
}

.nr13 h3 {
  transform: rotate(-73.2deg);
  -ms-transform: rotate(-73.2deg);
  /* IE 9 */
  -webkit-transform: rotate(-73.2deg);
  /* Safari and Chrome */
}

.nr14 {
  transform: rotate(79.3deg);
  -ms-transform: rotate(79.3deg);
  /* IE 9 */
  -webkit-transform: rotate(79.3deg);
  /* Safari and Chrome */
}

.nr14 h3 {
  transform: rotate(-79.3deg);
  -ms-transform: rotate(-79.3deg);
  /* IE 9 */
  -webkit-transform: rotate(-79.3deg);
  /* Safari and Chrome */
}

.nr15 {
  transform: rotate(85.4deg);
  -ms-transform: rotate(85.4deg);
  /* IE 9 */
  -webkit-transform: rotate(85.4deg);
  /* Safari and Chrome */
}

.nr15 h3 {
  transform: rotate(-85.4deg);
  -ms-transform: rotate(-85.4deg);
  /* IE 9 */
  -webkit-transform: rotate(-85.4deg);
  /* Safari and Chrome */
}

.nr16 {
  transform: rotate(91.5deg);
  -ms-transform: rotate(91.5deg);
  /* IE 9 */
  -webkit-transform: rotate(91.5deg);
  /* Safari and Chrome */
}

.nr16 h3 {
  transform: rotate(-91.5deg);
  -ms-transform: rotate(-91.5deg);
  /* IE 9 */
  -webkit-transform: rotate(-91.5deg);
  /* Safari and Chrome */
}

.nr17 {
  transform: rotate(97.6deg);
  -ms-transform: rotate(97.6deg);
  /* IE 9 */
  -webkit-transform: rotate(97.6deg);
  /* Safari and Chrome */
}

.nr17 h3 {
  transform: rotate(-97.6deg);
  -ms-transform: rotate(-97.6deg);
  /* IE 9 */
  -webkit-transform: rotate(-97.6deg);
  /* Safari and Chrome */
}

.nr18 {
  transform: rotate(103.7deg);
  -ms-transform: rotate(103.7deg);
  /* IE 9 */
  -webkit-transform: rotate(103.7deg);
  /* Safari and Chrome */
}

.nr18 h3 {
  transform: rotate(-103.7deg);
  -ms-transform: rotate(-103.7deg);
  /* IE 9 */
  -webkit-transform: rotate(-103.7deg);
  /* Safari and Chrome */
}

.nr19 {
  transform: rotate(109.8deg);
  -ms-transform: rotate(109.8deg);
  /* IE 9 */
  -webkit-transform: rotate(109.8deg);
  /* Safari and Chrome */
}

.nr19 h3 {
  transform: rotate(-109.8deg);
  -ms-transform: rotate(-109.8deg);
  /* IE 9 */
  -webkit-transform: rotate(-109.8deg);
  /* Safari and Chrome */
}

.nr20 {
  transform: rotate(115.9deg);
  -ms-transform: rotate(115.9deg);
  /* IE 9 */
  -webkit-transform: rotate(115.9deg);
  /* Safari and Chrome */
}

.nr20 h3 {
  transform: rotate(-115.9deg);
  -ms-transform: rotate(-115.9deg);
  /* IE 9 */
  -webkit-transform: rotate(-115.9deg);
  /* Safari and Chrome */
}

.nr21 {
  transform: rotate(122deg);
  -ms-transform: rotate(122deg);
  /* IE 9 */
  -webkit-transform: rotate(122deg);
  /* Safari and Chrome */
}

.nr21 h3 {
  transform: rotate(-122deg);
  -ms-transform: rotate(-122deg);
  /* IE 9 */
  -webkit-transform: rotate(-122deg);
  /* Safari and Chrome */
}

.nr22 {
  transform: rotate(128.1deg);
  -ms-transform: rotate(128.1deg);
  /* IE 9 */
  -webkit-transform: rotate(128.1deg);
  /* Safari and Chrome */
}

.nr22 h3 {
  transform: rotate(-128.1deg);
  -ms-transform: rotate(-128.1deg);
  /* IE 9 */
  -webkit-transform: rotate(-128.1deg);
  /* Safari and Chrome */
}

.nr23 {
  transform: rotate(134.2deg);
  -ms-transform: rotate(134.2deg);
  /* IE 9 */
  -webkit-transform: rotate(134.2deg);
  /* Safari and Chrome */
}

.nr23 h3 {
  transform: rotate(-134.2deg);
  -ms-transform: rotate(-134.2deg);
  /* IE 9 */
  -webkit-transform: rotate(-134.2deg);
  /* Safari and Chrome */
}

.nr24 {
  transform: rotate(140.3deg);
  -ms-transform: rotate(140.3deg);
  /* IE 9 */
  -webkit-transform: rotate(140.3deg);
  /* Safari and Chrome */
}

.nr24 h3 {
  transform: rotate(-140.3deg);
  -ms-transform: rotate(-140.3deg);
  /* IE 9 */
  -webkit-transform: rotate(-140.3deg);
  /* Safari and Chrome */
}

.nr25 {
  transform: rotate(146.4deg);
  -ms-transform: rotate(146.4deg);
  /* IE 9 */
  -webkit-transform: rotate(146.4deg);
  /* Safari and Chrome */
}

.nr25 h3 {
  transform: rotate(-146.4deg);
  -ms-transform: rotate(-146.4deg);
  /* IE 9 */
  -webkit-transform: rotate(-146.4deg);
  /* Safari and Chrome */
}

.nr26 {
  transform: rotate(152.5deg);
  -ms-transform: rotate(152.5deg);
  /* IE 9 */
  -webkit-transform: rotate(152.5deg);
  /* Safari and Chrome */
}

.nr26 h3 {
  transform: rotate(-152.5deg);
  -ms-transform: rotate(-152.5deg);
  /* IE 9 */
  -webkit-transform: rotate(-152.5deg);
  /* Safari and Chrome */
}

.nr27 {
  transform: rotate(158.6deg);
  -ms-transform: rotate(158.6deg);
  /* IE 9 */
  -webkit-transform: rotate(158.6deg);
  /* Safari and Chrome */
}

.nr27 h3 {
  transform: rotate(-158.6deg);
  -ms-transform: rotate(-158.6deg);
  /* IE 9 */
  -webkit-transform: rotate(-158.6deg);
  /* Safari and Chrome */
}

.nr28 {
  transform: rotate(164.7deg);
  -ms-transform: rotate(164.7deg);
  /* IE 9 */
  -webkit-transform: rotate(164.7deg);
  /* Safari and Chrome */
}

.nr28 h3 {
  transform: rotate(-164.7deg);
  -ms-transform: rotate(-164.7deg);
  /* IE 9 */
  -webkit-transform: rotate(-164.7deg);
  /* Safari and Chrome */
}

.nr29 {
  transform: rotate(170.8deg);
  -ms-transform: rotate(170.8deg);
  /* IE 9 */
  -webkit-transform: rotate(170.8deg);
  /* Safari and Chrome */
}

.nr29 h3 {
  transform: rotate(-170.8deg);
  -ms-transform: rotate(-170.8deg);
  /* IE 9 */
  -webkit-transform: rotate(-170.8deg);
  /* Safari and Chrome */
}

.nr30 {
  transform: rotate(176.9deg);
  -ms-transform: rotate(176.9deg);
  /* IE 9 */
  -webkit-transform: rotate(176.9deg);
  /* Safari and Chrome */
}

.nr30 h3 {
  transform: rotate(-176.9deg);
  -ms-transform: rotate(-176.9deg);
  /* IE 9 */
  -webkit-transform: rotate(-176.9deg);
  /* Safari and Chrome */
}

.nr31 {
  transform: rotate(183deg);
  -ms-transform: rotate(183deg);
  /* IE 9 */
  -webkit-transform: rotate(183deg);
  /* Safari and Chrome */
}

.nr31 h3 {
  transform: rotate(-183deg);
  -ms-transform: rotate(-183deg);
  /* IE 9 */
  -webkit-transform: rotate(-183deg);
  /* Safari and Chrome */
}

.nr32 {
  transform: rotate(189.1deg);
  -ms-transform: rotate(189.1deg);
  /* IE 9 */
  -webkit-transform: rotate(189.1deg);
  /* Safari and Chrome */
}

.nr32 h3 {
  transform: rotate(-189.1deg);
  -ms-transform: rotate(-189.1deg);
  /* IE 9 */
  -webkit-transform: rotate(-189.1deg);
  /* Safari and Chrome */
}

.nr33 {
  transform: rotate(195.2deg);
  -ms-transform: rotate(195.2deg);
  /* IE 9 */
  -webkit-transform: rotate(195.2deg);
  /* Safari and Chrome */
}

.nr33 h3 {
  transform: rotate(-195.2deg);
  -ms-transform: rotate(-195.2deg);
  /* IE 9 */
  -webkit-transform: rotate(-195.2deg);
  /* Safari and Chrome */
}

.nr34 {
  transform: rotate(201.3deg);
  -ms-transform: rotate(201.3deg);
  /* IE 9 */
  -webkit-transform: rotate(201.3deg);
  /* Safari and Chrome */
}

.nr34 h3 {
  transform: rotate(-201.3deg);
  -ms-transform: rotate(-201.3deg);
  /* IE 9 */
  -webkit-transform: rotate(-201.3deg);
  /* Safari and Chrome */
}

.nr35 {
  transform: rotate(207.4deg);
  -ms-transform: rotate(207.4deg);
  /* IE 9 */
  -webkit-transform: rotate(207.4deg);
  /* Safari and Chrome */
}

.nr35 h3 {
  transform: rotate(-207.4deg);
  -ms-transform: rotate(-207.4deg);
  /* IE 9 */
  -webkit-transform: rotate(-207.4deg);
  /* Safari and Chrome */
}

.nr36 {
  transform: rotate(213.5deg);
  -ms-transform: rotate(213.5deg);
  /* IE 9 */
  -webkit-transform: rotate(213.5deg);
  /* Safari and Chrome */
}

.nr36 h3 {
  transform: rotate(-213.5deg);
  -ms-transform: rotate(-213.5deg);
  /* IE 9 */
  -webkit-transform: rotate(-213.5deg);
  /* Safari and Chrome */
}

.nr37 {
  transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  /* IE 9 */
  -webkit-transform: rotate(219.6deg);
  /* Safari and Chrome */
}

.nr37 h3 {
  transform: rotate(-219.6deg);
  -ms-transform: rotate(-219.6deg);
  /* IE 9 */
  -webkit-transform: rotate(-219.6deg);
  /* Safari and Chrome */
}

.nr38 {
  transform: rotate(225.7deg);
  -ms-transform: rotate(225.7deg);
  /* IE 9 */
  -webkit-transform: rotate(225.7deg);
  /* Safari and Chrome */
}

.nr38 h3 {
  transform: rotate(-225.7deg);
  -ms-transform: rotate(-225.7deg);
  /* IE 9 */
  -webkit-transform: rotate(-225.7deg);
  /* Safari and Chrome */
}

.nr39 {
  transform: rotate(231.8deg);
  -ms-transform: rotate(231.8deg);
  /* IE 9 */
  -webkit-transform: rotate(231.8deg);
  /* Safari and Chrome */
}

.nr39 h3 {
  transform: rotate(-231.8deg);
  -ms-transform: rotate(-231.8deg);
  /* IE 9 */
  -webkit-transform: rotate(-231.8deg);
  /* Safari and Chrome */
}

.nr40 {
  transform: rotate(237.9deg);
  -ms-transform: rotate(237.9deg);
  /* IE 9 */
  -webkit-transform: rotate(237.9deg);
  /* Safari and Chrome */
}

.nr40 h3 {
  transform: rotate(-237.9deg);
  -ms-transform: rotate(-237.9deg);
  /* IE 9 */
  -webkit-transform: rotate(-237.9deg);
  /* Safari and Chrome */
}

.nr41 {
  transform: rotate(244deg);
  -ms-transform: rotate(244deg);
  /* IE 9 */
  -webkit-transform: rotate(244deg);
  /* Safari and Chrome */
}

.nr41 h3 {
  transform: rotate(-244deg);
  -ms-transform: rotate(-244deg);
  /* IE 9 */
  -webkit-transform: rotate(-244deg);
  /* Safari and Chrome */
}

.nr42 {
  transform: rotate(250.1deg);
  -ms-transform: rotate(250.1deg);
  /* IE 9 */
  -webkit-transform: rotate(250.1deg);
  /* Safari and Chrome */
}

.nr42 h3 {
  transform: rotate(-250.1deg);
  -ms-transform: rotate(-250.1deg);
  /* IE 9 */
  -webkit-transform: rotate(-250.1deg);
  /* Safari and Chrome */
}

.nr43 {
  transform: rotate(256.2deg);
  -ms-transform: rotate(256.2deg);
  /* IE 9 */
  -webkit-transform: rotate(256.2deg);
  /* Safari and Chrome */
}

.nr43 h3 {
  transform: rotate(-256.2deg);
  -ms-transform: rotate(-256.2deg);
  /* IE 9 */
  -webkit-transform: rotate(-256.2deg);
  /* Safari and Chrome */
}

.nr44 {
  transform: rotate(262.3deg);
  -ms-transform: rotate(262.3deg);
  /* IE 9 */
  -webkit-transform: rotate(262.3deg);
  /* Safari and Chrome */
}

.nr44 h3 {
  transform: rotate(-262.3deg);
  -ms-transform: rotate(-262.3deg);
  /* IE 9 */
  -webkit-transform: rotate(-262.3deg);
  /* Safari and Chrome */
}

.nr45 {
  transform: rotate(268.4deg);
  -ms-transform: rotate(268.4deg);
  /* IE 9 */
  -webkit-transform: rotate(268.4deg);
  /* Safari and Chrome */
}

.nr45 h3 {
  transform: rotate(-268.4deg);
  -ms-transform: rotate(-268.4deg);
  /* IE 9 */
  -webkit-transform: rotate(-268.4deg);
  /* Safari and Chrome */
}

.nr46 {
  transform: rotate(274.5deg);
  -ms-transform: rotate(274.5deg);
  /* IE 9 */
  -webkit-transform: rotate(274.5deg);
  /* Safari and Chrome */
}

.nr46 h3 {
  transform: rotate(-274.5deg);
  -ms-transform: rotate(-274.5deg);
  /* IE 9 */
  -webkit-transform: rotate(-274.5deg);
  /* Safari and Chrome */
}

.nr47 {
  transform: rotate(280.6deg);
  -ms-transform: rotate(280.6deg);
  /* IE 9 */
  -webkit-transform: rotate(280.6deg);
  /* Safari and Chrome */
}

.nr47 h3 {
  transform: rotate(-280.6deg);
  -ms-transform: rotate(-280.6deg);
  /* IE 9 */
  -webkit-transform: rotate(-280.6deg);
  /* Safari and Chrome */
}

.nr48 {
  transform: rotate(286.7deg);
  -ms-transform: rotate(286.7deg);
  /* IE 9 */
  -webkit-transform: rotate(286.7deg);
  /* Safari and Chrome */
}

.nr48 h3 {
  transform: rotate(-286.7deg);
  -ms-transform: rotate(-286.7deg);
  /* IE 9 */
  -webkit-transform: rotate(-286.7deg);
  /* Safari and Chrome */
}

.nr49 {
  transform: rotate(292.8deg);
  -ms-transform: rotate(292.8deg);
  /* IE 9 */
  -webkit-transform: rotate(292.8deg);
  /* Safari and Chrome */
}

.nr49 h3 {
  transform: rotate(-292.8deg);
  -ms-transform: rotate(-292.8deg);
  /* IE 9 */
  -webkit-transform: rotate(-292.8deg);
  /* Safari and Chrome */
}

.nr50 {
  transform: rotate(298.9deg);
  -ms-transform: rotate(298.9deg);
  /* IE 9 */
  -webkit-transform: rotate(298.9deg);
  /* Safari and Chrome */
}

.nr50 h3 {
  transform: rotate(-298.9deg);
  -ms-transform: rotate(-298.9deg);
  /* IE 9 */
  -webkit-transform: rotate(-298.9deg);
  /* Safari and Chrome */
}

.nr51 {
  transform: rotate(305deg);
  -ms-transform: rotate(305deg);
  /* IE 9 */
  -webkit-transform: rotate(305deg);
  /* Safari and Chrome */
}

.nr51 h3 {
  transform: rotate(-305deg);
  -ms-transform: rotate(-305deg);
  /* IE 9 */
  -webkit-transform: rotate(-305deg);
  /* Safari and Chrome */
}

.nr52 {
  transform: rotate(311.1deg);
  -ms-transform: rotate(311.1deg);
  /* IE 9 */
  -webkit-transform: rotate(311.1deg);
  /* Safari and Chrome */
}

.nr52 h3 {
  transform: rotate(-311.1deg);
  -ms-transform: rotate(-311.1deg);
  /* IE 9 */
  -webkit-transform: rotate(-311.1deg);
  /* Safari and Chrome */
}

.nr53 {
  transform: rotate(317.2deg);
  -ms-transform: rotate(317.2deg);
  /* IE 9 */
  -webkit-transform: rotate(317.2deg);
  /* Safari and Chrome */
}

.nr53 h3 {
  transform: rotate(-317.2deg);
  -ms-transform: rotate(-317.2deg);
  /* IE 9 */
  -webkit-transform: rotate(-317.2deg);
  /* Safari and Chrome */
}

.nr54 {
  transform: rotate(323.3deg);
  -ms-transform: rotate(323.3deg);
  /* IE 9 */
  -webkit-transform: rotate(323.3deg);
  /* Safari and Chrome */
}

.nr54 h3 {
  transform: rotate(-323.3deg);
  -ms-transform: rotate(-323.3deg);
  /* IE 9 */
  -webkit-transform: rotate(-323.3deg);
  /* Safari and Chrome */
}

.nr55 {
  transform: rotate(329.4deg);
  -ms-transform: rotate(329.4deg);
  /* IE 9 */
  -webkit-transform: rotate(329.4deg);
  /* Safari and Chrome */
}

.nr55 h3 {
  transform: rotate(-329.4deg);
  -ms-transform: rotate(-329.4deg);
  /* IE 9 */
  -webkit-transform: rotate(-329.4deg);
  /* Safari and Chrome */
}

.nr56 {
  transform: rotate(335.5deg);
  -ms-transform: rotate(335.5deg);
  /* IE 9 */
  -webkit-transform: rotate(335.5deg);
  /* Safari and Chrome */
}

.nr56 h3 {
  transform: rotate(-335.5deg);
  -ms-transform: rotate(-335.5deg);
  /* IE 9 */
  -webkit-transform: rotate(-335.5deg);
  /* Safari and Chrome */
}

.nr57 {
  transform: rotate(341.6deg);
  -ms-transform: rotate(341.6deg);
  /* IE 9 */
  -webkit-transform: rotate(341.6deg);
  /* Safari and Chrome */
}

.nr57 h3 {
  transform: rotate(-341.6deg);
  -ms-transform: rotate(-341.6deg);
  /* IE 9 */
  -webkit-transform: rotate(-341.6deg);
  /* Safari and Chrome */
}

.nr58 {
  transform: rotate(347.7deg);
  -ms-transform: rotate(347.7deg);
  /* IE 9 */
  -webkit-transform: rotate(347.7deg);
  /* Safari and Chrome */
}

.nr58 h3 {
  transform: rotate(-347.7deg);
  -ms-transform: rotate(-347.7deg);
  /* IE 9 */
  -webkit-transform: rotate(-347.7deg);
  /* Safari and Chrome */
}

.nr59 {
  transform: rotate(353.8deg);
  -ms-transform: rotate(353.8deg);
  /* IE 9 */
  -webkit-transform: rotate(353.8deg);
  /* Safari and Chrome */
}

.nr59 h3 {
  transform: rotate(-353.8deg);
  -ms-transform: rotate(-353.8deg);
  /* IE 9 */
  -webkit-transform: rotate(-353.8deg);
  /* Safari and Chrome */
}

.nr60 {
  transform: rotate(359.9deg);
  -ms-transform: rotate(359.9deg);
  /* IE 9 */
  -webkit-transform: rotate(359.9deg);
  /* Safari and Chrome */
}

.nr60 h3 {
  transform: rotate(-359.9deg);
  -ms-transform: rotate(-359.9deg);
  /* IE 9 */
  -webkit-transform: rotate(-359.9deg);
  /* Safari and Chrome */
}

body {
  font-family: 'Oranienbaum', serif;
}

.container {
  top: 0px;
  left: 47%;
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  display: inline-block;
  -webkit-transform-origin: 50% 20rem;
  -moz-transform-origin: 50% 20rem;
  -ms-transform-origin: 50% 20rem;
  -o-transform-origin: 50% 20rem;
  transform-origin: 50% 20rem;
}

#result {
  z-index: 6;
  position: absolute;
  font-size: 170%;
  top: 58%;
  left: 39%;
  background-color: #18991D;
  color: white;
}

.amountMinutes {
  font-size: 1rem;
  display: block;
  height: 1.3rem;
  z-index: 5;
  width: 7rem;
  position: absolute;
  top: 67%;
  left: 34%;
}

.submit {
  font-size: 1.2rem;
  display: block;
  height: 1.8rem;
  z-index: 5;
  width: 7rem;
  position: absolute;
  top: 67%;
  left: 51%;
  color: white;
  background-color: #18991D;
}

.clock {
  position: relative;
  border: 0.5px dashed white;
  border-radius: 50%;
  background-color: white;
  width: 50rem;
  height: 50rem;
  display: inline-block;
  margin-top: 9%;
  margin-left: 30%;
}

.fonx-white-kopia {
  background: url(../image/fonx-white-kopia.png);
  position: absolute;
  z-index: 4;
  margin-top: 57%;
  margin-left: 23%;
  width: 108%;
  height: 10%;
  background-repeat: no-repeat;
  position: relative;
  background-size: 27rem 1.6rem;
}

.card {
  width: 48px;
  height: 392px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
}

.container:hover .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.face {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  color: white;
  line-height: 50px;
  text-align: center;
}

h3 {
  margin-top: 0;
  font-size: 1.3rem;
}

.front {
  border: 1px dashed white;
  border-radius: 50rem;
  background-color: #18991D;
  z-index: 1;
}

.container:hover .front {
  z-index: 0;
  width: 82px;
  height: 82px;
}

.container:hover .back {
  z-index: 2;
  width: 82px;
  height: 82px;
}

.back {
  border: 1px dashed white;
  border-radius: 50rem;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  background: red;
  margin-left: -13px;
  margin-top: -4.2rem;
}

.container:hover .back h3 {
  font-size: 2rem;
  margin-top: 0.7rem;
}
